// Place all the styles related to the Admin::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// form {
//   text-align: center;
// }

h1 {
  text-align: center;
}

.admin_submit {
  text-align: center;
}

.label_new {
  text-align: center;
}

h3 {
  text-align: center;
}

.label_index {
  text-align: center;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-top: 5px;
}