// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.task_index {
  text-align: center;
}

#notice {
  color: red;
}

.form-control {
  width: 200px;
  margin: auto;
}

table.table.table-hover {
  width: 1000px;
}

div#error_explanation {
  text-align: center;
  color: red;
}

.task_show {
  text-align: center;
}

.show {
  text-align: center;
}

form {
  margin-top: 50px;
}

.card {
  margin-left: 150px;
  margin-top: 100px;
}